<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <div class="resource">
                <b>Health</b>
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" />
                <span> / </span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <b>Mana</b>
                <input type="text" name="data.mana.value" value="{{data.mana.value}}" data-dtype="Number" />
                <span> / </span>
                <input type="text" name="data.mana.max" value="{{data.mana.max}}" data-dtype="Number" />
            </div>
			<div class="resource">
                <b>Armor Class</b>
                <input type="text" name="data.ac.value" value="{{data.ac.value}}" data-dtype="Number" />
            </div>
			<div class="resource2">
                <b>Str</b>
                <input type="text" name="data.str.value" value="{{data.str.value}}" data-dtype="Number" />
				<input type="text" name="data.str.proficient" value="{{data.str.proficient}}" data-dtype="Number" />
            </div>
			<div class="resource2">
                <b>Dex</b>
                <input type="text" name="data.dex.value" value="{{data.dex.value}}" data-dtype="Number" />
				<input type="text" name="data.dex.proficient" value="{{data.dex.proficient}}" data-dtype="Number" />
            </div>
			<div class="resource2">
                <b>Con</b>
                <input type="text" name="data.con.value" value="{{data.con.value}}" data-dtype="Number" />
				<input type="text" name="data.con.proficient" value="{{data.con.proficient}}" data-dtype="Number" />
            </div>
			<div class="resource2">
                <b>Int</b>
                <input type="text" name="data.int.value" value="{{data.int.value}}" data-dtype="Number" />
				<input type="text" name="data.int.proficient" value="{{data.int.proficient}}" data-dtype="Number" />
            </div>
			<div class="resource2">
                <b>Wis</b>
                <input type="text" name="data.wis.value" value="{{data.wis.value}}" data-dtype="Number" />
				<input type="text" name="data.wis.proficient" value="{{data.wis.proficient}}" data-dtype="Number" />
            </div>
			<div class="resource2">
                <b>Cha</b>
                <input type="text" name="data.cha.value" value="{{data.cha.value}}" data-dtype="Number" />
				<input type="text" name="data.cha.proficient" value="{{data.cha.proficient}}" data-dtype="Number" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="abilites">Abilites</a>
		<a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="description">Bio</a>    
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Abilites Tab --}}
        <div class="tab abilites" data-group="primary" data-tab="abilites">
            {{editor content=data.abilites target="data.abilites" button=true owner=owner editable=editable}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            {{editor content=data.spells target="data.spells" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>